//
// Homepage CSS
//

body { padding-top:65px; }
.jumbotron { background-color: whitesmoke; border: 4px dashed $dashyBlue; margin-top: 20px;  
	h3 { margin-top:-0px; color:white; }
	h2 { 
		@extend h3; 
		background-color: $boxyBlue; 
		border-radius:4px; 
		width:50%; 
		margin: 0 auto; margin-top: -25px; margin-bottom: 25px; 
	}
}

.octocatPic {
  // position: absolute;
  opacity: 0.75;
  width: 120px;
  height: 120px;
  display: block;
  // margin-left: auto;
  // margin-right: auto;
  margin: 0 auto;
  margin-bottom: 2%;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.octocatPic:hover {
  cursor: pointer;
  opacity: 1;
}


//
// Projects CSS
//
img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.col-md-6, .col-md-12 {
  margin-top: 2%;
  margin-bottom: 4%;
}
.framePic {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-transition: all .50s ease-in-out;  /* Transition for Webkit browsers */
}

// Used for octocat positioning and manipulation of 
// images using CSS3 transitions.
.framePic {
  position: relative; 
  .octocatPic {
    visibility: hidden;
    position:absolute;
    height: auto;
    width: auto;
    top: 0%;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    opacity: 0;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
  }
}
.framePic:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);  /* For Webkit browsers */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray;  /* For IE 6 - 9 */
}
.framePic:hover .octocatPic {
  visibility: visible;
  opacity: 1;
}