body{
    padding-top:130px;
}
html * {
    font-family: 'Source Sans Pro', sans-serif;
} #contactinfo,
.resumeTitle {
    text-align: center;
}
.jumbotron {
    background-color: #f5f5f5;
    border: 4px dashed #1D4373;
    margin-top: 20px;
}
.jumbotron h2,
.jumbotron h3 {
    margin-top: 0;
    color: #fff
}
.jumbotron h2 {
    background-color: #295FA3;
    border-radius: 4px;
    width: 50%;
    margin: -25px auto 25px
}
.octocatPic {
    opacity: .75;
    width: 120px;
    height: 120px;
    display: block; margin: 0 auto 2%;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.octocatPic:hover {
    cursor: pointer;
    opacity: 1;
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}
.col-md-12,
.col-md-6 {
    margin-top: 2%;
    margin-bottom: 4%
}
.framePic {
    -webkit-filter: grayscale(0);
    filter: none;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-transition: all .5s ease-in-out;
    position: relative
}
.framePic .octocatPic {
    visibility: hidden;
    position: absolute;
    height: auto;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}
.framePic:hover {
    -webkit-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
}
.framePic:hover .octocatPic {
    visibility: visible;
    opacity: 1;
}
.resumeTitle {
    color: #06F;
}
@keyframes movePic{
    0%{transform: translateX(75%);}
}
@keyframes moveParagraph {
    from {opacity:0;}
    to  {opacity: 1; display: block; transform: translateY(-180%); height:auto;}
}
#myPic {
    display:block;
    margin: auto;
    margin-top:10%;
    animation:movePic 1.7s 1;
}
.myNav {
    background-color:#353238;
    width:100%;
    position:fixed;
    z-index:999;
    color:white;
    top:0;

    #aboutMeTitle {
        h1{color:white;}
        small{color:#B8B8B8;}
        li{color:white; list-style-type:none;}
        a {
            transition: all .3s ease-in;
            color:white;
            text-decoration:none;
        }
        a:link{
            color:white; 
        }
    }
}
#resumeBtn:hover {background-color:#00875C;}
#projectsBtn:hover {background-color:#00629C;}
#navbarBrand {
    color:white;
}
#navbarBrand:hover{
    color:#8226B2;
}
.row.top-buffer {
    opacity:0;
    animation: moveParagraph ease-in 1s;
    -moz-animation: moveParagraph 1s;
    -webkit-animation: moveParagraph 1s;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-delay: 2s;
} 
#aboutMeParagraph {
    // Inherit .jumbotron to cover entire screen outside of containers using extend.
    @extend .jumbotron;
    background-color: #375DFF; 
    border: none;
    padding: 1.5em 1.5em 1.5em 1.5em;
    font-size: 1.3em;
    color: white;
    clear:both;
}
.navbar {
    margin-top:-2.5em;
    margin-bottom:-3em;
    background-color:#353238;
}
small {
    padding-left:-30px;
}
.nav.navbar-nav {
    li {transition: all 0.3s ease-in;}
}

/*******************************************
 * MEDIA QUERIES
 *******************************************/
    //Thanks to ryanve from stackoverflow!
    // http://stackoverflow.com/a/7354648
    @media (min-width:320px) { 
        /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
        .top-buffer{margin-top:95%;}
        .pic-buffer{margin-top:55%;}
    }
    @media (min-width:600px) { 
        /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
        .top-buffer{margin-top:40%; }
        .pic-buffer{margin-top:15%;}
    }
    @media (min-width:801px) { 
        /* tablet, landscape iPad, lo-res laptops ands desktops */ 
        .top-buffer{margin-top:15%;}
        .pic-buffer{margin-top:10%;}
    }
    @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
        .top-buffer{margin-top:20%;}
        .pic-buffer{margin-top:4%;}
    }
    @media (min-width:1281px) { 
        /* hi-res laptops and desktops */
        .top-buffer{margin-top:10%;}
        .pic-buffer{margin-top:0%;}
    }
    //Neato idea #131341: make an X animation for all pics to reach the center of it from the lower left and lower right. Why? It looks cool.
